@charset "UTF-8";
@font-face {
  font-family: "Junicode";
  font-style: normal;
  font-weight: normal;
  src: url("../font/junicode-1.002/Junicode.ttf") format("truetype");
}
@font-face {
  font-family: "Junicode";
  font-style: normal;
  font-weight: bold;
  src: url("../font/junicode-1.002/Junicode-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Junicode";
  font-style: italic;
  font-weight: normal;
  src: url("../font/junicode-1.002/Junicode-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Junicode";
  font-style: italic;
  font-weight: bold;
  src: url("../font/junicode-1.002/Junicode-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "LiberationSans";
  font-style: normal;
  font-weight: normal;
  src: url("../font/liberation2/LiberationSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LiberationSans";
  font-style: normal;
  font-weight: bold;
  src: url("../font/liberation2/LiberationSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "LiberationSans";
  font-style: italic;
  font-weight: normal;
  src: url("../font/liberation2/LiberationSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "LiberationSans";
  font-style: italic;
  font-weight: bold;
  src: url("../font/liberation2/LiberationSans-BoldItalic.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Passage de la police de 16px par défaut, à 10px -----> 10/16*100= 62.5 */
  cursor: url("./assets/img/arrowhead-rounded-outline(1).png") 2 3, auto;
}

body {
  margin: 0;
  font-size: 18px; /* On remet le body à 16px, la valeur par défaut */
  background-color: #f2f0e3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #000;
  background: linear-gradient(180deg, rgb(242, 240, 227) 0%, rgba(242, 240, 227, 0.5) 100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0px 9.9px 20px rgba(0, 0, 0, 0.2);
}
header .logo-zone {
  display: flex;
  align-items: center;
}
header .logo-zone div p {
  margin: 0.2rem;
}
header .logo-zone div #name-header {
  font-weight: 900;
}
header .fa-bars {
  font-size: 4rem;
  margin: 2rem;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.welcome-section article {
  width: 30rem;
  justify-content: center;
}
.welcome-section article .joris-profile {
  position: relative;
  z-index: -1;
  left: 20%;
  top: 2rem;
  width: 25rem;
  border-radius: 1rem;
  border: 2px solid black;
}
.welcome-section article .joris-gif {
  width: 15em;
  z-index: -2;
  border-radius: 0.5em;
  box-shadow: 0px 1.9px 2.2px rgba(0, 0, 0, 0.2), 0px 4.7px 5.3px rgba(0, 0, 0, 0.028), 0px 8.8px 10px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}
main section {
  padding: 1em;
}

h1 {
  font-family: "Junicode";
  font-weight: normal;
  font-style: normal;
  font-size: 3em;
  color: #202020;
  text-align: center;
  margin: 1rem 0 1rem 0;
}
h1 span {
  font-style: italic;
  font-weight: bold;
  color: #995e06;
}

h2 {
  font-family: "Junicode";
  font-weight: bold;
  font-style: normal;
  font-size: 3rem;
  color: #202020;
  margin: 0 0 1rem 0;
}

.logo-site {
  width: 3em;
  margin: 1rem;
}

.main-content article {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

a,
p {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  color: #202020;
}

.button-area {
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 1em;
  background: rgb(242, 240, 227);
  background: linear-gradient(0deg, rgb(242, 240, 227) 30%, rgba(255, 255, 255, 0) 100%);
}

button {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: #f2f0e3;
  font-family: "Space Grotesk";
  border: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  bottom: 0;
  border-radius: 2em;
  background: linear-gradient(180deg, rgb(20, 20, 20) 0%, rgba(0, 0, 0, 0.8) 100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.048), 0px 0px 5.3px rgba(0, 0, 0, 0.069), 0px 0px 10px rgba(0, 0, 0, 0.085), 0px 0px 17.9px rgba(0, 0, 0, 0.101), 0px 0px 33.4px rgba(0, 0, 0, 0.122), 0px 0px 80px rgba(0, 0, 0, 0.17);
}/*# sourceMappingURL=index.css.map */