@import url(variables.css);

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Passage de la police de 16px par défaut, à 10px -----> 10/16*100= 62.5 */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: var(--font-size-sm); /* On remet le body à 18px */
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: var(--z-index-nav);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    nav {
        border: var(--nav-border) solid transparent;
        min-width: var(--nav-size);
        max-width: var(--nav-size);
        border-radius: var(--nav-radius);
        height: var(--nav-size);
        z-index: var(--z-index-nav);
        background-color: var(--color-white-50);
        backdrop-filter: var(--blur-light);
        margin: var(--nav-margin) var(--nav-margin);
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all var(--timing-cubic-smooth) var(--duration-medium);
        .burger-menu-stripes {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            z-index: var(--z-index-nav);
            color: var(--color-black);
            opacity: 1;
            transition: all var(--timing-ease) var(--duration-fast);
        }
        ul {
            padding: 0;
            list-style-type: none;
            display: flex;
            opacity: 0;
            transform: translate(-100%, 0%);
            transition: all var(--timing-ease) var(--duration-fast);
            text-wrap: nowrap;
            pointer-events: none;
            li {
                padding: 0 var(--spacing-sm);
            }
            a {
                text-shadow: var(--shadow-text-light);
                text-decoration: none;
                color: var(--color-white);
                font-family: var(--font-primary);
                font-weight: var(--font-weight-light);
            }
        }
        .buttons-header {
            display: flex;
            .top-button {
                background-color: var(--color-white);
                color: var(--color-black);
                padding: var(--spacing-xs) var(--spacing-sm) var(--spacing-xs)
                    var(--spacing-xs);
                border-radius: var(--border-radius-full);
                margin-left: var(--spacing-sm);
                font-family: var(--font-primary);
                font-weight: var(--font-weight-medium);
                text-decoration: none;
                display: flex;
                align-items: center;
                text-wrap: nowrap;
                pointer-events: none;
                transform: translate(-100%, 0%) scaleY(0.8) scaleX(0.2);
                opacity: 0;
                transition: all var(--timing-ease-out) var(--duration-fast);
                svg {
                    z-index: var(--z-index-content);
                    display: block;
                    color: var(--color-black);
                }
            }
            .to-bottom-button {
                background-color: var(--color-primary);
                color: var(--color-black);
                padding: var(--spacing-xs) var(--spacing-sm) var(--spacing-xs)
                    var(--spacing-xs);
                border-radius: var(--border-radius-full);
                margin-left: var(--spacing-sm);
                font-family: var(--font-primary);
                font-weight: var(--font-weight-medium);
                text-decoration: none;
                display: flex;
                align-items: center;
                text-wrap: nowrap;
                pointer-events: none;
                transform: translate(-100%, 0%);
                opacity: 0;
                transition: all var(--timing-ease-out) var(--duration-fast);
                svg {
                    z-index: var(--z-index-content);
                    display: block;
                    color: var(--color-black);
                }
            }
        }

        &:hover {
            min-width: var(--max-width-nav-expanded);
            max-width: 100%;
            background-color: var(--color-black-50);
            backdrop-filter: var(--blur-medium);
            border: 2px solid var(--color-white);
            ul {
                opacity: 1;
                transform: translate(0%, 0%);
                pointer-events: initial;
            }
            .burger-menu-stripes {
                pointer-events: none;
                opacity: 0;
                transform: translate(50%, -50%) scaleX(10);
            }
            .top-button,
            .to-bottom-button {
                opacity: 1;
                transform: scale(1);
                pointer-events: initial;
            }
        }
    }
}

main {
    background-image: url("https://joris-guesne.github.io/portfolio/assets/img/test_bckgnd.jpg");
    background-size: cover;
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Figer l'image d'arrière-plan */
    border-radius: var(--border-radius-xl);
    .container {
        position: relative;
    }
    margin: var(--vignette-border);
}

.vignette-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: var(--vignette-border) solid var(--color-white);
    border-radius: 0rem;
    z-index: var(--z-index-vignette);
    pointer-events: none;
    div {
        &:first-of-type {
            position: fixed;
            top: 0;
            left: 0;
            height: inherit;
            width: inherit;
            border: var(--vignette-border) solid var(--color-white);
            border-radius: var(--nav-radius);
        }
        &:last-of-type {
            position: fixed;
            top: 0;
            left: 0;
            height: inherit;
            width: inherit;
            border: var(--vignette-border) solid var(--color-white);
            border-radius: var(--border-radius-2xl);
            box-shadow: var(--shadow-inset);
        }
    }
}

/* HERO SECTION*/
.hero-section {
    display: flex;
    background-color: var(--color-black-70);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius-xl);
    padding: var(--spacing-xl);
    article {
        &:first-of-type {
            flex: 1;
            transition: all var(--timing-ease-in-out) var(--duration-fast);
            h1 {
                font-size: var(--font-size-5xl);
                font-family: var(--font-heading);
                text-align: right;
                color: var(--color-gray-light);
                font-weight: var(--font-weight-thin);
                line-height: var(--line-height-tight);
                letter-spacing: var(--letter-spacing-tight);
                margin: 0;
                text-shadow: var(--shadow-text-medium);
            }
            p {
                text-align: right;
                color: var(--color-primary);
                font-family: var(--font-primary);
                font-size: var(--font-size-lg);
                font-style: italic;
                font-weight: var(--font-weight-thin);
            }
        }
        &:last-of-type {
            flex: 1.5;
            transition: all var(--timing-ease-in-out) var(--duration-fast);
            display: flex;
            justify-content: center;
            div {
                --border-width: var(--border-width);
                color: var(--color-white);
                font-size: var(--font-size-lg);
                font-family: var(--font-primary);
                font-weight: var(--font-weight-thin);
                padding: var(--spacing-xl);
                z-index: var(--z-index-content);
                border-radius: var(--border-radius-lg);
                position: relative;
                background: var(--color-black-10);
                backdrop-filter: var(--blur-heavy);
                transition: all var(--timing-ease-in-out) var(--duration-fast);
                max-width: 80%;
                &::before {
                    content: "";
                    position: absolute;
                    z-index: var(--z-index-background);
                    inset: 0;
                    border-radius: inherit;
                    background: var(--gradient-border-light) border-box;
                    border: var(--border-width) solid transparent;
                    mask:
                        linear-gradient(black) border-box,
                        linear-gradient(black) padding-box;
                    mask-composite: subtract;
                }
            }
        }
    }
}
.scroll-downs {
    position: absolute;
    margin: auto;
    width: 34px;
    height: 55px;
    left: calc(50vw - 3rem);
    top: calc(100vh - 10rem);
    .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid #fff;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
        .scroller {
            width: 3px;
            height: 10px;
            border-radius: 25%;
            background-color: #fff;
            animation-name: scroll;
            animation-duration: 2.2s;
            animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
            animation-iteration-count: infinite;
        }
    }
}

/*dsf*/
.main-content {
    padding: 0 var(--section-padding) var(--section-padding)
        var(--section-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: var(--max-width-content);
        min-height: 90vh;
        h2 {
            font-family: var(--font-heading);
            font-size: var(--font-size-4xl);
            margin: var(--spacing-4xl) 0 var(--spacing-xl) 0;
            text-shadow: var(--shadow-text-glow);
        }
        > div {
            max-width: 100%;
            --border-width: var(--border-width);
            font-family: var(--font-primary);
            font-weight: var(--font-weight-thin);
            z-index: var(--z-index-content);
            border-radius: var(--border-radius-lg);
            position: relative;
            backdrop-filter: var(--blur-heavy);
            transition: all var(--timing-ease-in-out) var(--duration-fast);
            &::before {
                content: "";
                position: absolute;
                z-index: var(--z-index-background);
                inset: 0;
                border-radius: inherit;
                background: var(--gradient-border-medium) border-box;
                border: var(--border-width) solid transparent;
                mask:
                    linear-gradient(black) border-box,
                    linear-gradient(black) padding-box;
                mask-composite: subtract;
            }
        }
    }
}

.quisuisje {
    padding: 0;
    display: flex;
    flex-flow: wrap row;
    background: var(--color-white-30);
    justify-content: center;
    padding: var(--section-padding);
    gap: var(--section-padding);
    img {
        width: 0%;
        max-height: 1000px;
        border-radius: var(--border-radius-lg) var(--section-padding)
            var(--section-padding) var(--border-radius-lg);
        object-fit: cover;
        flex: 1;
    }
    aside {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
    }
    .profile-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-size: var(--font-size-lg);
            line-height: var(--line-height-normal);
            flex: 2;
            margin-left: 0;
        }
    }
    .stack-tech {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        background-color: var(--color-black-20);
        border-radius: var(--border-radius-md);
        color: var(--color-white);
        padding: var(--spacing-md);
        width: 100%;
        h3 {
            width: 100%;
            text-align: left;
            font-size: var(--font-size-xl);
            margin: 0;
        }
        p {
            flex: 1;
            text-align: center;
            font-family: var(--font-code);
            background-color: var(--color-white-70);
            color: var(--color-black);
            font-style: italic;
            font-weight: var(--font-weight-black);
            margin: var(--spacing-sm);
            padding: var(--spacing-xs) var(--spacing-sm);
            border-radius: var(--border-radius-sm);
            font-size: var(--font-size-md);
            &.pending {
                font-weight: var(--font-weight-medium);
                color: var(--color-white);
                border: 1px dashed var(--color-white);
                background: var(--color-black);
            }
        }
    }
}

.mes-derniers-projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    background: rgba(0, 0, 0, 0.7);
    color: #eee;
    .projet {
        width: 100%;
        display: flex;
        align-items: stretch;
        /* Ajouter un espacement et une ligne de séparation entre les projets */
        &:not(:last-child) {
            margin-bottom: 15rem;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: calc(
                    -15rem / 2
                ); /* Positionner la ligne au milieu de l'espacement */
                left: 50%;
                transform: translateX(-50%);
                width: 90%; /* La ligne fait 90% de la largeur du conteneur */
                height: 1px;
                background-color: white;
            }
        }
        .projet-desc {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            h3 {
                font-size: 4rem;
                margin-top: 0;
            }
            p {
                font-size: 2rem;
                line-height: 1.5;
                margin-right: 2rem;
            }
            .project-languages {
                font-size: 1.3rem;
                letter-spacing: 0.3rem;
                font-weight: 100;
                color: #ffc700;
                margin: 0 0 2rem 0;
            }
        }
        .ext-project-links {
            display: flex;
            flex-direction: column;
            position: relative;
            border-radius: 2rem;
            flex: 1;
            height: auto;
            a {
                position: relative;
                display: flex;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                transition: all ease-out 0.2s;
                flex-grow: 1; /* Chaque élément prend 1 part par défaut */
                flex-shrink: 1;
                flex-basis: 0;
                &:first-of-type {
                    border-radius: 10rem 2rem 0 0;
                }
                &:last-of-type {
                    border-radius: 0 0 2rem 10rem;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all ease-out 0.2s;
                }
                .overlay-text {
                    min-width: 100%;
                    height: 100%;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 10;
                    position: absolute;
                    color: white;
                    font-size: 4rem;
                    font-weight: 400;
                    background-color: rgba(0, 0, 0, 0.7);
                    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
                    padding: 1rem 1.5rem;
                    border-radius: 0rem;
                    border: 3px solid transparent;
                    transition: all ease-out 0.2s;
                }
                &:hover {
                    flex-grow: 2; /* L'élément survolé prend 2 parts */
                    img {
                        filter: brightness(1);
                    }
                    .overlay-text {
                        border-radius: 5rem;
                        min-width: 40%;
                        height: 30%;
                        transform: scale(1);
                        background: rgba(0, 0, 0, 0.8);
                        text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
                        backdrop-filter: blur(2px);
                        border: 3px solid transparent;
                        color: #ffc700;
                    }
                }
            }
            /* Réduction des autres éléments quand un est survolé */
            &:hover a:not(:hover) {
                flex-grow: 1; /* Les éléments non survolés prennent moins de place */
            }
        }
    }
}

.contact-link {
    display: inline-block;
    background-color: var(--color-primary);
    padding: 0 var(--spacing-sm);
    border-radius: var(--border-radius-sm);
    font-weight: var(--font-weight-medium);
    color: var(--color-black);
    text-decoration: none;
    transition: all var(--timing-ease-in-out) var(--duration-fast);
    &:hover {
        font-weight: var(--font-weight-bold);
        color: var(--color-primary);
        background-color: var(--color-black);
        transform: scale(1.1);
    }
}
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
    padding: var(--spacing-xl);
    min-height: 40vh;
    box-shadow: var(--shadow-box);
    -webkit-box-shadow: var(--shadow-box);
    -moz-box-shadow: var(--shadow-box);
    h2 {
        font-family: var(--font-heading);
        font-size: var(--font-size-3xl);
        margin: 0;
        text-shadow: var(--shadow-text-glow);
    }
    article {
        background-color: var(--color-primary);
        font-family: var(--font-primary);
        font-weight: var(--font-weight-thin);
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        width: 100%;
        border-radius: var(--border-radius-lg);
        width: auto;
        padding: var(--spacing-md);
        margin-top: var(--spacing-lg);
        gap: var(--spacing-md);
        a {
            background-color: var(--color-white);
            width: auto;
            padding: var(--spacing-sm);
            border-radius: var(--border-radius-md);
            text-decoration: underline 2px solid var(--color-black);
            border: 2px solid var(--color-black);
            color: var(--color-black);
            font-weight: var(--font-weight-bold);
            transition: all var(--timing-ease) var(--duration-fast);
            &::after {
                content: ">";
                transform: scale(1);
                position: absolute;
                opacity: 0;
                margin-left: var(--spacing-sm);
                transition: all var(--timing-ease) var(--duration-fast);
                pointer-events: none;
                color: var(--color-white);
            }
            &:hover {
                transform: scale(1.1);
                background-color: var(--color-black);
                color: var(--color-primary);
                border: var(--color-white) 2px solid;
                padding-right: var(--spacing-lg);
                margin: 0 var(--spacing-sm);
                &::after {
                    transform: scale(2);
                    opacity: 1;
                }
            }
        }
    }
}

footer {
    z-index: var(--z-index-footer);
    position: absolute;
    background-color: var(--color-black);
    color: var(--color-primary);
    padding: var(--spacing-xl);
    border-radius: var(--border-radius-xl) var(--border-radius-xl)
        var(--border-radius-2xl) var(--border-radius-2xl);
    border: var(--vignette-border) solid var(--color-white);
    width: 100%;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-thin);
}

@media screen and (max-width: 1300px) {
    .hero-section {
        article {
            &:first-of-type {
                h1 {
                    font-size: 15rem;
                }
            }
        }
    }
    .quisuisje {
        padding: var(--spacing-lg);
        gap: var(--spacing-lg);
        aside {
            .profile-desc {
                p {
                    font-size: var(--font-size-md);
                }
            }
        }
    }
}
@media screen and (max-width: 950px) {
    .hero-section {
        flex-direction: column;
        article {
            &:first-of-type {
                flex: 1.5;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    text-align: center;
                }
            }
            &:last-of-type {
                flex: 1;
            }
        }
    }
    .quisuisje {
        flex-direction: column;
        padding: var(--spacing-lg);
        gap: var(--spacing-lg);
        img {
            width: auto;
            border-radius: var(--border-radius-md);
            max-height: 300px;
            object-position: 0 30%;
        }
        aside {
            flex: 1;
            .profile-desc {
                p {
                    font-size: var(--font-size-sm);
                }
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .hero-section {
        padding: var(--spacing-md);
        article {
            &:first-of-type {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    text-align: center;
                    font-size: var(--font-size-3xl);
                }
                p {
                    font-size: var(--font-size-md);
                }
            }
            &:last-of-type {
                display: block;
                flex: 1;
                div {
                    padding: var(--spacing-md);
                    max-width: 100%;
                    p {
                        font-size: var(--font-size-sm);
                    }
                }
            }
        }
    }
    .main-content {
        padding: var(--spacing-md);
    }
}
@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}
